  
<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Customer</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="customerForm" (ngSubmit)="submitCustomerForm()" #resetStudentForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Customer name" formControlName="student_name">
          <mat-error *ngIf="handleError('student_name', 'required')">
            You must provide a<strong>Customer name</strong>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Customer address" formControlName="customer_address">
          <mat-error *ngIf="handleError('customer_address', 'required')">
            You must provide a<strong>Customer email</strong>
          </mat-error>
        </mat-form-field>


        
        <div class="example-container">
          <mat-form-field hintLabel="Max 10 characters" appearance="fill" style="padding-right: 20px;">
            <mat-label>house number</mat-label>
            <input matInput #input maxlength="10" placeholder="house_number">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        
          <mat-form-field hintLabel="Max 10 characters" appearance="fill" style="padding-right: 20px;">
            <mat-label>Street</mat-label>
            <input matInput #input maxlength="10" placeholder="Postal Code">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
          
        </div>
        
        <!-- Section -->
        <!-- <mat-form-field>
          <mat-label>Section</mat-label>
          <mat-select formControlName="section">
            <mat-option>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('section', 'required')">
            Section is required
          </mat-error>
        </mat-form-field> -->
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Add subjects -->
        <div class="example-container">
          <mat-form-field hintLabel="Max 10 characters" appearance="fill" style="padding-right: 20px;">
            <mat-label>Enter some input</mat-label>
            <input matInput #input maxlength="10" placeholder="Ex. Nougat">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        
          <mat-form-field appearance="fill">
            <mat-label>Select me</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
          </mat-form-field>
        </div>
        

        <!-- Date of birth -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
            (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('dob', 'required')">
            Date of birth is required
          </mat-error>
        </mat-form-field>

        <!-- Gender -->
        <div class="misc-bottom-padding">
          <mat-label>Gender:</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>